.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f1f2f3;
}
.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 470px;
  background-color: #f1f2f3;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  width: 90%;
  height: 80px;
  margin: 10px 0;
  padding: 0 10px;
  background-color: #e1e2e3;
  border-radius: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  width: 25%;
  height: 70px;
  margin: 10px 5px;
  padding: 0;
  background-color: #d1d2d3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.operator-button {
  background-color: #ff9500;
  color: #fff;
}

.zero-button {
  width: 50%;
}

.equals-button {
  background-color: #4cd964;
  color: #fff;
}

.clear-button {
  width: 50%;
  background-color: #f0f0f0;
  color: #000;
}
